body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    background: #005a87;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    display: none; /* Изначально все секции скрыты */
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}
